<header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="go_back()">
        Back
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Add Workout</ion-title>
    <ion-buttons slot="end">
      <ion-button id='Add Workout' fill="clear">Add Workout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</header>

<ion-content>
  <ion-popover trigger="Add Workout" [isOpen]="isPopoverOpen" alignment="end" triggerAction="click">
      <ng-template>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Select </ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        
          <ion-button fill="clear">Action 1</ion-button>
          <ion-button fill="clear">Action 2</ion-button>
        </ion-card>
      </ng-template>
    </ion-popover>
</ion-content>

