<header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        ------
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Workout Logger</ion-title>
    <ion-buttons slot="end">
      <ion-button id="add" [disabled]="false" fill="clear">
        +
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</header>

<ion-content class="item-background-color-black ion-text-center" [scrollEvents]="true">
      <ion-button (click)="subtract_date()">-</ion-button>
        <ion-button id="date"   (click)=" add_to_db(current_workout,date_time.toDateString())">{{ date_time | date:'fullDate'}}</ion-button>
        <ion-button (click)="add_date()">+</ion-button>
    <ion-list>
    <ion-item-sliding *ngFor="let current of current_setty_workout; index as i">
      <ion-item>
        <ion-label>{{current.Excercise}}: Set   {{current.Set}}   Reps   {{current.Reps}}   Weight   {{current.Weight}}</ion-label>
      </ion-item>
   
      <ion-item-options side="end">
        <ion-item-option (click)="remove_set_from_fb(this.date_time.toDateString(), (current.Excercise + ' '  + current.Set.toString()),i)"color="danger" expandable>Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
</ion-content>


<ion-popover class='popover-position'trigger="add" [isOpen]="isPopoverOpen" alignment="end" triggerAction="click">
        <ng-template>
          <ion-card scrolly="true">
            <ion-list>
                <ion-item>
                    <ion-select (ionChange)="handle_Change($event)" placeholder="Select Excercise">
                      <ion-select-option value="Bench">Bench</ion-select-option>
                      <ion-select-option value="Squat">Squat</ion-select-option>
                      <ion-select-option value="Deadlift">Deadlift</ion-select-option>
                    </ion-select>
                    <ion-button (click)="it_setty_list()" slot="end">Confirm</ion-button>
                  </ion-item>
                <ion-item class="ion-align-items-end">
                  <ion-grid [fixed]="true">
                    <ion-row>
                        <ion-col size-xl ="1" size-lg="1" size-md="2" size-sm="6" size-xs="4" class="ion-padding-top"> 
                          <ion-text>Reps</ion-text>
                        </ion-col>
                        <ion-col size-xl ="1" size-lg="2" size-md="2" size-sm="5" size-xs="auto">
                          <ion-button (click)="add_rep()">+</ion-button>
                          <ion-button (click)="subtract_rep()">-</ion-button>
                        </ion-col>
                        <ion-col size-xl="1" size-lg="5" size-md="6" size-sm="1" size-xs="2" class="ion-padding-top">
                          <ion-text>{{reps}}</ion-text>
                        </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
                <ion-item class="ion-align-items-end">
                  <ion-grid [fixed]="true">
                    <ion-row>
                        <ion-col size-xl ="1" size-lg="1" size-md="2" size-sm="9" size-xs="4" class="ion-padding-top"> 
                          <ion-text class="ion-padding-end">Weight</ion-text>
                        </ion-col>
                        <ion-col size-xl ="1" size-lg="2" size-md="2" size-sm="2" size-xs="auto">
                          <ion-button (click)="add_weight()">+</ion-button>
                          <ion-button (click)="subtract_weight()">-</ion-button>
                        </ion-col>
                        <ion-col size-xl="1" size-lg="5" size-md="6" size-sm="1" size-xs="2" class="ion-padding-top">
                          <ion-text>{{weight}}</ion-text>
                        </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
                <ion-item class="ion-align-items-end">
                  <ion-grid [fixed]="true">
                    <ion-row>
                        <ion-col class="ion-text-center"size-xl ="6" size-lg="2" size-md="2" size-sm="2" size-xs="auto">
                          <ion-button (click)="add_to_setty()">Add Set</ion-button>
                        </ion-col>
                        <ion-col class="ion-text-center" size-xl ="6" size-lg="2" size-md="2" size-sm="2" size-xs="auto">
                          <ion-button (click)="subtract_from_set_list()">Delete Set</ion-button>
                        </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
            </ion-list>
            <ion-list>
                  <ion-item class="ion-align-items-end">
                    <ion-grid [fixed]="true">
                      <ion-row *ngFor="let set of setty_list">
                        <ion-col size-xl ="1" size-lg="1" size-md="2" size-sm="9" size-xs="4" class="ion-padding-top"> 
                          <ion-text class="ion-padding-end">Set: {{set.Set}}</ion-text>
                        </ion-col>  
                        <ion-col size-xl ="1" size-lg="1" size-md="2" size-sm="9" size-xs="4" class="ion-padding-top"> 
                            <ion-text class="ion-padding-end">{{set.Reps}}</ion-text>
                          </ion-col>
                          <ion-col size-xl="1" size-lg="5" size-md="6" size-sm="1" size-xs="2" class="ion-padding-top">
                            <ion-text>{{set.Weight}}</ion-text>
                          </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
            </ion-list>
          </ion-card>
        </ng-template> 
  </ion-popover>





